{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}

<h1>Card Game [PLAYING]</h1>

<p>Draw a card</p>

<p>You have {{ drawnCards|length }} cards.</p>

<div class="cards">
    {% for card in drawnCards %}
        <span class="card">{{ card }}</span>
    {% endfor %}
</div>

<p>There are {{ cardsLeft }} cards left in the deck.</p>

<form method="post" action="{{ path('draw_cards') }}">
    <input type="submit" name="draw" value="Draw">
</form>

{% endblock %}
