{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="content">
    <h1>Report</h1>

    <h2>Kursmoment:</h2>
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <li><a href="#kmom03">Kmom03</a></li>
        <li><a href="#kmom04">Kmom04</a></li>
        <li><a href="#kmom05">Kmom05</a></li>
        <li><a href="#kmom06">Kmom06</a></li>
        <li><a href="#kmom07">Kmom07</a></li>
        <li><a href="#kmom10">Kmom10</a></li>
    </ul>

    <h2 id="kmom01">Kmom01</h2>
    <p>Jag har tidigare erfarenhet av objektorienterad programmering
    i Python från tidigare kurs. Jag blev där bekant med begrepp som
    bland annat klasser och objekt. </p>

    <p> I PHP defineras klasser med 'class', på samma sätt som klasser
    i oopython-kursen gjorde. I PHP skapas ett objekt med operatorn 'new'. </p> 

    <p> I början kändes det som att det var mycket att hålla koll på i koden
    men efter att ha arbetat med detta kursmoment har jag fått förståelse över
    hur koden är uppbygd och tycker att det känns smidigt att jobba med den.

    <p> Efter att ha läst PHP The Right Way, känns det som att det finns extremt
    mycket att lära sig om PHP och som man kan ta nytta av. Det jag tycker känns viktigast
    är att jag lär mig ha en bra och strukturerad kod som gör det lätt för andra
    att förstå. </p>

    <p> Jag ser fram emot att lära mig att koppla samman PHP kod och databaser, i artikeln finns
    det tips på hur man skriver den koden för att underlätta tester, debugging och göra den lättare
    att förstå. Det ser jag fram emot att lära mig och ta nytta av. </p>

    <p> I detta kursmoment har jag lärt mig hur jag skapar en hemsida med symfony
    och hur jag skapar routes med hjälp av PHP. </p>

    <h2 id="kmom02">Kmom02</h2>
    <p>Här kommer redovisningstext för kmom02.</p>

    <h2 id="kmom03">Kmom03</h2>
    <p>Här kommer redovisningstext för kmom03.</p>

    <h2 id="kmom04">Kmom04</h2>
    <p>Här kommer redovisningstext för kmom04.</p>

    <h2 id="kmom05">Kmom05</h2>
    <p>Här kommer redovisningstext för kmom05.</p>

    <h2 id="kmom06">Kmom06</h2>
    <p>Här kommer redovisningstext för kmom06.</p>

    <h2 id="kmom07">Kmom07</h2>
    <p>Här kommer redovisningstext för kmom07.</p>

    <h2 id="kmom10">Kmom10</h2>
    <p>Här kommer redovisningstext för kmom10.</p>
</div>

{% endblock %}
